.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  min-height: 350px;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}
